# dimecoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.dimecoin
host=127.0.0.1

#mainnet default
port=11931

#testnet default
#port=21931

#regtest default
#port=18443

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=4500000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=f9beb4d9
genesis=00000d5a9113f87575c77eb5442845ff8a0014f6e79e2dd2317d88946ef910da
input=/home/example/.dimecoin/blocks

# testnet
#netmagic=0b110907
#genesis=00000d3b251f80cbbff32cf05e0d50cfbec979e9309d3677e2726988203ba0f1
#input=/home/example/.dimecoin/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
